body {
    background-color: rgb(50, 53, 54);
    text-align: center;
    font-family: verdana;
  }
  h1, h2 {
    color: white;

  }
  
  p {
      color: white;
      font-size: 20px;
  }
  /* unvisited link */
a:link {
    color: red;
    font-size: 20px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(247, 53, 166);
    font-size: 20px;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }